<template>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, esse.</div>
</template>

<script>
export default {
  name: 'SplitGrid',

  components: {
  },

  setup() {
    return {
    }
  }
}
</script>