<template>
  <SplitGrid />
</template>

<script>
import SplitGrid from '@/modules/SplitGrid';

export default {
  name: 'LayoutDefault',

  components: {
    SplitGrid,
  },

  setup() {
    return {
    }
  }
}
</script>
